#mainSlider {
  position: relative;
  padding: 0 3rem;
  height: auto;
}
#mainSlider .swiper {
  width: 100%;
  height: auto;
}
#mainSlider .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#mainSlider .swiper .swiper-wrapper .swiper-slide .swiper-slide img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}