// 폰트 색상
$peaceGreen : #74BF31;
$peaceOrange : #FF8100;
$peaceBlue : #1A1C26;
$textBlack : #000000;
$textGray : #333333;
$textWhite : #ffffff;
$formGray : #848484;


#quickButton{
    display: none;
    position: fixed;
    bottom: calc(50vh + 120px) ; 
    right: 20px;
    .scrollbutton {
        background-color: $peaceBlue;
        padding: 15px;
        border-radius: 100px;
        cursor: pointer;
        margin-bottom: 5px;
        i{
            font-size: 2rem;
            color: $textWhite;
        }
        .quicktext{
            position : absolute;
            width : 0;
            height : 0;
            display : block;
            overflow : hidden;
            opacity : 0;
        }
    }
}